<div class="container6">
  <h1 class="page-title">掲示板詳細</h1>
  <ul class="bulletin-list">
    <li class="bulletin-item">
      <h2 class="bulletin-title"><%= @bulletin.title %></h2>
      <p class="bulletin-content">内容: <%= @bulletin.content %></p>

      <% if @bulletin.image.attached? %>
       
        <%= image_tag @bulletin.image, class: "bulletin-image" %>
      <% else %>
        
      <% end %>

      <!-- 属性の表示 -->
      <% if @bulletin.new_attributes.present? %>
        <p class="bulletin-attributes">属性: <%= @bulletin.new_attributes %></p>
      <% end %>

      <div class="like-section">
        
        <button class="like-button <%= current_user && current_user.liked_bulletins.include?(@bulletin) ? 'liked' : '' %>" data-bulletin-id="<%= @bulletin.id %>" onclick="likeBulletin(<%= @bulletin.id %>)">
          <i class="fas fa-thumbs-up"></i> いいね
        </button>
        <span class="like-count" id="like-count-<%= @bulletin.id %>">
          <%= @bulletin.likes.count %> いいね
        </span>
      </div>

      <% if @bulletin.user == current_user %>
        <%= link_to '削除', bulletin_path(@bulletin), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    </li>
  </ul>
</div>

<div id="chat" class="chat-container">
  <h2 class="chat-heading">チャット</h2>
  <div id="chat-messages" class="chat-messages">
    
  </div>
</div>

<div class="chat-input-container">
  <input type="text" id="chat-input" class="chat-input" placeholder="チャットを入力...">
  <button id="chat-send" class="chat-send">送信</button>
</div>
</div>




<script>
document.addEventListener('DOMContentLoaded', function() {
    var user_id = '<%= current_user.id %>';
    var user_name = '<%= current_user.nickname %>';
    var chatChannel;

    function createBulletinChatChannel(bulletinId) {
      chatChannel = App.cable.subscriptions.create(
        {
          channel: "BulletinChatChannel",
          bulletin_id: bulletinId,
          user_id: user_id,
          user_name: user_name,
        },
        {
          received: function(data) {
            
            var chatMessages = document.getElementById('chat-messages');
            var messageElement = document.createElement('div');
            messageElement.className = 'chat-message';

            var userIcon = document.createElement('i');
            userIcon.className = 'fas fa-user'; 

            var userName = document.createElement('p');
            userName.className = 'user-name';
            userName.innerText = data.user_name;

            var messageContent = document.createElement('p');
            messageContent.className = 'message-content';
            messageContent.innerText = data.content;

            messageElement.appendChild(userIcon);
            messageElement.appendChild(userName);
            messageElement.appendChild(messageContent);

            chatMessages.appendChild(messageElement);
          }
        }
      );
    }

   
    var bulletinId = '<%= @bulletin.id %>';

    loadChatMessageHistory(bulletinId);
    createBulletinChatChannel(bulletinId);

    function loadChatMessageHistory(bulletinId) {
      
      $.ajax({
        url: '/bulletin_chats',
        method: 'GET',
        data: { bulletin_id: bulletinId },
        dataType: 'json',
        success: function(data) {
          var chatMessages = document.getElementById('chat-messages');
          data.forEach(function(message) {
            var messageElement = document.createElement('div');
            messageElement.className = 'chat-message';

            var userIcon = document.createElement('i');
            userIcon.className = 'fas fa-user';

            var userName = document.createElement('p');
            userName.className = 'user-name';
            userName.innerText = message.user_name; 

            var messageContent = document.createElement('p');
            messageContent.className = 'message-content';
            messageContent.innerText = message.content;

            messageElement.appendChild(userIcon);
            messageElement.appendChild(userName);
            messageElement.appendChild(messageContent);

            chatMessages.appendChild(messageElement);
          });
        }
      });
    }

    document.getElementById('chat-send').addEventListener('click', function() {
      
      var input = document.getElementById('chat-input');
      var message = input.value;
      if (message.trim() !== '') {
        chatChannel.perform('speak', { content: message, user_name: user_name });
        input.value = '';
      }
    });
  });
</script>