<div class="container8">
  <!-- ユーザー登録フォーム -->
  <section class="user-registration">
    <h1>新規登録</h1>
    <%= form_with scope: :user, url: users_path, method: :post, local: true do |f| %>
      <div class="form-content">
        <%= f.label :nickname, "ニックネーム" %>
        <%= f.text_field :nickname %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation %>

        <div class="submit-button">
          <%= f.submit '登録' %>
        </div>
      <% end %>
    </section>
</div>
