<header>
<a class="logo" href="<%= root_path %>">FXTradeHub</a>
  <nav>
    <ul>
        <li><%= link_to 'イベント一覧', '#' %></li>
        <li><%= link_to 'ログイン', login_path %></li>
        <li><%= link_to 'ユーザー登録', new_user_path %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      
    </ul>
  </nav>
</header>
