<!DOCTYPE html>
<html>
<head>
  <title>FxTraderApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>

    <%= render 'shared/flash_message' %>
    <%= yield %>

    <footer>
      <div class="line-qr-section">
        <%= image_tag '784gulvz.png', alt: 'LINE QR Code', class: 'line-qr-image' %>
        <p class="line-qr-description">LINEで友だちに追加して最新情報を受け取る</p>
      </div>
    </footer>
  </div>
  
</body>
</html>